body {
  margin-top: 30px;
  background-color: #1f2833;
  color: #cfc6c7;
  font-family: "Roboto Slab", sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 40px;
  color: #66fcf1;
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 0.5rem;
  line-height: 1em;
}

.container_header {
  text-align: center;
}

.container_description {
  margin-bottom: 2.5em;
  text-align: center;
}

input {
  width: 100%;
  box-shadow: inset 1px 1px 3px 0px rgba(134, 134, 134, 0.21);
  border: 1px solid #cfc6c7;
}

.list {
  list-style: none;
}
